/* CSS Document */
	/* ==================== Top Area ========================== */
	/* Masthead */
.secondary_menu {
	color: #135054;
	font-Size: 11px;
	text-decoration: none;
	padding: 0px 10px 0px 10px
}

.login_title {
	font-size: 11px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	line-height: 25px;
}

.secondary_menu a:link {
	color: #135054;
	text-decoration: none;
}

.bg_gray_F7F7F7 {
	background-color: #F7F7F7
}

.secondary_menu a:visited {
	color: #135054;
	text-decoration: none;
}

.secondary_menu a:active {
	color: #135054;
	text-decoration: none;
}

.secondary_menu a:hover {
	color: #135054;
	text-decoration: underline;
}

/* Top Navigation */
.top_menu_bg {
	background-image: url("/images/top_menu_bg_g.gif");
}

.top_menu_on {
	background-image: url("/images/top_menu_on_g.gif");
	background-repeat: no-repeat;
	background-position: center;
	height: 3px;
}

.top_menu {
	color: #222;
	font-family: "Tahoma";
	font-Size: 11px;
	text-decoration: none;
	font-weight: bold;
	padding: 0px 20px 0px 20px;
	cursor: hand;
}

.top_menu a:link {
	color: #222;
	text-decoration: none;
}

.top_menu a:visited {
	color: #222;
	text-decoration: none;
}

.top_menu a:active {
	color: #135054;
	text-decoration: none;
}

.top_menu a:hover {
	color: #135054;
	text-decoration: none;
}

.top_menu_2depth {
	color: #135054;
	font-family: "Tahoma";
	font-Size: 11px;
	text-decoration: none;
	line-height: 11px;
	padding: 0px 10px 0px 10px;
	cursor: hand;
}

.top_menu_2depth a:link {
	color: #135054;
	text-decoration: none;
}

.top_menu_2depth a:visited {
	color: #135054;
	text-decoration: none;
}

.top_menu_2depth a:active {
	color: #135054;
	text-decoration: none;
}

.top_menu_2depth a:hover {
	color: #135054;
	text-decoration: underline;
}

.page_title_component {
	font-size: 14px;
	color: D51735;
	font-weight: bold;
	FONT-FAMILY: "Arial", "Verdana";
	line-height: 22px;
	height: 28px;
	padding-bottom: 6px;
}

/* ==================== Left Area ========================== */
	/* left Navigation */
.left_title {
	font-family: "Tahoma";
	font-Size: 13px;
	color: #055F61;
	text-decoration: none;
	font-weight: bold;
	padding: 0px 2px 0px 2px;
}

.left_menu_2depth {
	font-family: "Tahoma";
	font-Size: 11px;
	color: #0C7D7D;
	text-decoration: none;
	padding: 3px 2px 3px 2px;
	line-height: 12px;
	cursor: hand;
}

.left_menu_2depth  a:link {
	text-decoration: none;
	color: #0C7D7D;
}

.left_menu_2depth  a:visited {
	text-decoration: none;
	color: #0C7D7D;
}

.left_menu_2depth  a:active {
	text-decoration: none;
	color: #0C7D7D;
}

.left_menu_2depth  a:hover {
	text-decoration: none;
	color: #0C7D7D;
}

.left_menu_tree {
	font-family: "Tahoma";
	font-Size: 11px;
	color: #111;
	text-decoration: none;
	padding: 3px 2px 3px 2px;
	line-height: 12px;
	cursor: hand;
}

.left_menu_tree a:link {
	text-decoration: none;
	color: #111;
}

.left_menu_tree a:visited {
	text-decoration: none;
	color: #111;
}

.left_menu_tree a:active {
	text-decoration: none;
	color: #111;
}

.left_menu_tree a:hover {
	text-decoration: underline;
	color: #055F61;
}

/* left Tab */
.left_tab {
	background-image: url("/images/left_tab_off_bg_g.gif");
	font-family: "Tahoma";
	font-Size: 11px;
	color: #333;
	text-decoration: none;
	cursor: hand;
	vertical-align: bottom !important
}

.left_tab a:link {
	text-decoration: none;
	color: #333;
}

.left_tab a:visited {
	text-decoration: none;
	color: #333;
}

.left_tab a:active {
	text-decoration: none;
	color: #333;
}

.left_tab a:hover {
	text-decoration: none;
	color: #333;
}

.left_tab_l {
	background-image: url("/images/left_tab_off_left_g.gif");
	width: 4px;
	height: 17px;
}

.left_tab_r {
	background-image: url("/images/left_tab_off_right_g.gif");
	width: 4px;
	height: 17px;
}

.left_tab_selected {
	font-family: "Tahoma";
	font-Size: 11px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	vertical-align: bottom
}

/* ==================== Content Area ========================== */
	/* subtitle 1depth*/
.subtitle {
	font-weight: bold;
	font-size: 13px;
	color: #5589AD;
	text-decoration: none;
	line-height: 16px;
}

.subtitle_float {
	font-weight: bold;
	font-size: 13px;
	color: #5589AD;
	text-decoration: none;
	line-height: 16px;
}

/* table */
.table_header_complex {
	background-color: #F5F5F5;
	font-family: "Tahoma";
	font-size: 11px;
	color: #555;
	font-weight: bold;
	padding: 0px 2px 0px 2px;
}

.table_header_complex_c {
	background-color: #F5F5F5;
	text-align: center;
	font-family: "Tahoma";
	font-size: 11px;
	color: #555;
	font-weight: bold;
	padding: 0px 2px 0px 2px;
}

.table_header_complex_r {
	background-color: #F5F5F5;
	text-align: right;
	font-family: "Tahoma";
	font-size: 11px;
	color: #555;
	font-weight: bold;
	padding: 0px 2px 0px 2px;
}

.table_header_complex_d {
	background-color: #F5F5F5;
	text-align: right;
	font-family: "Tahoma";
	font-size: 11px;
	color: #555;
	font-weight: bold;
	padding: 1px 6px 1px 2px;
}

.table_title_complex_d {
	background-color: #FFFFFF;
	font-family: "Tahoma";
	font-size: 12px;
	color: black;
	font-weight: bold;
	padding: 3px 4px 1px 5px;
	height: 25px
}

.table_header_complex_s {
	background-color: #F5F5F5;
	text-align: left;
	font-family: "Tahoma";
	font-size: 11px;
	color: #555;
	padding: 1px 6px 1px 2px;
}

.table_header_line {
	height: 2px;
	background-color: #9AB0C0;
}

.table_header_sub {
	background-color: #EFF3F7;
	font-family: "Tahoma";
	font-size: 11px;
	color: #555;
	font-weight: bold;
	padding: 0px 2px 0px 2px;
}

/* Shuttle */
.Shuttle_header {
	background-color: #E6EBEF;
	height: 19px;
	font-family: "Tahoma";
	font-size: 11px;
	color: #333;
	font-weight: bold;
	padding: 0px 2px 0px 12px;
}

/* Calendar*/
.calendar_week {
	font-family: "Tahoma";
	font-Size: 10px;
	color: #14446F;
	font-weight: bold;
	vertical-align: bottom
}

.calendar_today {
	font-size: 11px;
	background-color: #CBBAD4;
	cursor: hand;
}

.calendar_today a:link {
	font-size: 11px;
	text-decoration: none;
	color: #111;
}

.calendar_today a:visited {
	font-size: 11px;
	text-decoration: none;
	color: #111;
}

.calendar_today a:active {
	font-size: 11px;
	text-decoration: none;
	color: #111;
}

.calendar_today a:hover {
	font-size: 11px;
	text-decoration: none;
	color: #111;
}

/* Sitemap*/
.sitemap_title {
	font-Size: 12px;
	color: #333;
	font-weight: bold;
	background-color: #CEDAE0;
	line-height: 17px;
	padding: 0px 0px 0px 5px;
}

.sitemap_title  a:link {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.sitemap_title a:visited {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.sitemap_title a:active {
	text-decoration: underline;
	color: #333;
	font-weight: bold;
}

.sitemap_title a:hover {
	text-decoration: underline;
	color: #333;
	font-weight: bold;
}

/* BG Color */
.bg_light,.popup_bg_bottom {
	background-color: #E6EBEF
}

.popup_bg_top {
	background-color: #9AB0C0
}

.leftMenu_bg_line,.calendar_bg_line {
	background-color: #B3C7D6
}

.top_bg_line {
	background-color: #4F7B9D
}

.calendar_title_bg {
	background-color: #EDF2F5
}

/* Font */
.font_color {
	color: #177498
}

.comn {
	font-family: "Arial";
	font-size: 12px;
}

.comnDate {
	font-family: "Arial";
	font-size: 12px;
}

.comnDateTime {
	font-family: "Arial";
	font-size: 12px;
}

.comnDateYM {
	font-family: "Arial";
	font-size: 12px;
}

.comnBorder {
	font-family: "Arial";
	font-size: 12px;
}

.comnSsn {
	font-family: "Arial";
	font-size: 12px;
}

.comnPost {
	font-family: "Arial";
	font-size: 12px;
}

.comnF {
	font-family: "Arial";
	font-size: 11px;
}

.quickAdd {
	font-size: 8pt;
	font-family: Arial;
	color: #191970;
}

/* footer
-----------------------------------------------------------------*/
#footer_container {
	position: absolute;
	bottom: 0px;
	width: 100%;
	float: left;
	margin: 0;
	left: 0;
	background: url(/images/footer_bg.gif) repeat-x left top;
	width: 100%;
}

#footer {
	float: left;
	font-family: "Verdana";
	font-size: 10px;
	color: #A9A9A9;
	text-align: left;
	background: url("/images/footer_l.gif") no-repeat left top;
	padding: 10px 0 0 113px;
	height: 23px;
}

#footer_r {
	float: right;
	background: url("/images/footer_r.gif") no-repeat right top;
	width: 15px;
	height: 23px;
}