/*	-------------------------------------------------------------
	LG CNS DevOn UI
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Description:	Content Styles
	Filename:		searchDetail.css
	Version:		DevOn UI_2.0_2007_R1_20070515
	-------------------------------------------------------------	*/
@import url("${ctx}/css/ssdevui/screen.css");