<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daoliaoManage">
	<select id="jiqihao" parameterType="CData" resultType="cdata">
		select jiqihao,dischargenum from dischargenum 
	</select>
	<select id="jiqihao1" parameterType="CData" resultType="cdata">
		select jiqihao,dischargenum from dischargenum where 1=1
		<if test="jiqihao1!=null and jiqihao!=''">
			AND jiqihao=#{jiqihao1}
		</if>
	</select>
</mapper>   
      