<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emailManage">

	<!-- 查询所有的email -->
	<select id="selectEmail" parameterType="cdata" resultType="cdata">
		select * from email where owner=trim(#{user_id}) and ownertype =2
		ORDER BY createtime desc
	</select>

	<!-- 按主题人查询email -->
	<select id="selectEmailBySendto" parameterType="cdata"
		resultType="cdata">
		select * from email where theme like concat('%',trim(#{sendto}),'%') and
		ownertype=2 and owner=#{user_id}
	</select>

	<!-- 删除箱按发送人查询email -->
	<select id="selectDelBySendto" parameterType="cdata" resultType="cdata">
		select * from email where theme like concat('%',trim(#{sendto}),'%')
		and ownertype=1 and owner=#{user_id}
	</select>

	<!-- 已发送箱按收件人查询email -->
	<select id="selectSendSucBySendto" parameterType="cdata"
		resultType="cdata">
		select * from email where theme like concat('%',trim(#{sendto}),'%') and
		type = 0 and sendto=#{user_id}
	</select>

	<!-- 垃圾箱按收件人查询email -->
	<select id="selectDelSucBySendto" parameterType="cdata"
		resultType="cdata">
		select * from email where theme like concat('%',trim(#{sendto}),'%') and
		type = 1 and sendto=#{user_id}
	</select>

	<!-- 邮件内容 -->
	<select id="selectEmailDetail" parameterType="cdata" resultType="cdata">
		select * from email where eid=#{eid} 
	</select>




	<!-- 删除收件箱邮件 -->
	<select id="deleteEmail" parameterType="cdata" resultType="cdata">
		update email set ownertype=1 where eid=#{eid} and owner = #{user_id}
	</select>

	<!-- 删除发送箱邮件 -->
	<select id="delSucEmail" parameterType="cdata" resultType="cdata">
		update email set type=1 where eid=#{eid} 
	</select>

	<!--查看收件箱的未读邮件 -->
	<select id="selectNoReadEmail" parameterType="cdata" resultType="cdata">
		select * from email where `read`=1 and owner=#{user_id} and
		ownertype=2 ORDER BY createtime desc
	</select>



	<!--已删除邮件 -->
	<select id="selectDeleted" parameterType="cdata" resultType="cdata">
		select * from email where owner=#{user_id} and ownertype=1 ORDER BY
		createtime desc
	</select>

	<!--垃圾邮件 -->
	<select id="selectDelSuc" parameterType="cdata" resultType="cdata">
		select * from email where sendto=#{user_id} and type = 1 ORDER BY
		createtime desc
	</select>

	<!--查看已删除的未读邮件 -->
	<select id="selectNoReadEmailInDeleted" parameterType="cdata"
		resultType="cdata">
		select * from email where

		`read`=1 and `type` =1 and owner=#{user_id} and ownertype=1 ORDER BY
		createtime desc
	</select>

	<!-- 发送邮件 -->
	<select id="createEmailResult" parameterType="cdata" resultType="cdata">
		insert into
		email(sendto,theme,copy,message,createtime,annex,`owner`,`type`,`read`,ownertype)
		values(#{user_id},#{theme},#{copy},#{message},now(),#{annex},#{sendto},0,1,2)
	</select>

	<!--查看已发送邮件 -->
	<select id="sendSuccess" parameterType="cdata" resultType="cdata">
		select * from email where `type` = 0 and sendto=#{user_id} ORDER BY
		createtime desc
	</select>

	<!-- 移到收件箱 -->
	<select id="moveToStore" parameterType="cdata" resultType="cdata">
		update email set ownertype=2 where eid=#{eid} and owner=#{user_id}
		<!-- update email set type=0 where eid=#{eid} and sendto=#{user_id} -->
	</select>

	<!-- 移到已发送 -->
	<select id="moveToSendSuc" parameterType="cdata" resultType="cdata">
		update email set `type`= 0 where eid=#{eid} and sendto=#{user_id}
	</select>


	<!-- 标记已读 -->
	<select id="designRead" parameterType="cdata" resultType="cdata">
		update
		email set `read`= 0 where eid=#{eid}
	</select>

	<!-- 移到标记未读 -->
	<select id="designNoRead" parameterType="cdata" resultType="cdata">
		update email set `read`= 1 where eid=#{eid}
	</select>

	<!-- 收件箱按时间排序 -->
	<select id="orderByTime" parameterType="cdata" resultType="cdata">
		select * from email where ownertype=2 and owner=#{user_id} order by
		createtime desc 
	</select>

	<!-- 收件箱按发送人排序 -->
	<select id="orderBySendto" parameterType="cdata" resultType="cdata">
		select * from email where ownertype = 2 and owner=#{user_id} order by
		sendto 
	</select>

	<!-- 已删除邮件按时间排序 -->
	<select id="delOrderByTime" parameterType="cdata" resultType="cdata">
		select * from email where ownertype=1 and owner=#{user_id} order by
		createtime desc 
	</select>

	<!-- 已删除按发送人排序 -->
	<select id="delOrderBySendto" parameterType="cdata" resultType="cdata">
		select * from email where ownertype=1 and owner=#{user_id} order by
		sendto 
	</select>

	<!-- 已发送邮件按时间排序 -->
	<select id="sendedOrderByTime" parameterType="cdata" resultType="cdata">
		select * from email where sendto=#{user_id} and `type` = 0 order by
		createtime desc 
	</select>

	<!-- 已发送按发送人排序 -->
	<select id="sendedOrderBySendto" parameterType="cdata"
		resultType="cdata">
		select * from email where sendto=#{user_id} and `type` = 0
		order by sendto 
	</select>

	<!-- 垃圾邮件按时间排序 -->
	<!-- <select id="delSucOrderByTime" parameterType="cdata" resultType="cdata"> -->
	<!-- select * from email where sendto=#{user_id} and `type` = 1 order by 
		createtime desc -->
	<!-- </select> -->

	<!-- 垃圾按发送人排序 -->
	<!-- <select id="delSucOrderBySendto" parameterType="cdata" resultType="cdata"> -->
	<!-- select * from email where sendto=#{user_id} and `type` = 1 order by 
		sendto -->
	<!-- </select> -->
</mapper>